# Project: CRWD Survey Monkey (organized)
### Author: <font color ='blue'>Xiaojun Yao (Uie)

# <font color='blue'> Import Packages

In [33]:
#import surveymonty
import requests
import json
import random
from itertools import product

import time
import datetime

import pandas as pd
import numpy as np

#### <font color='red'> most important packages <font color='black'>(includes all the functions): process_functions.py

In [34]:
from process_functions import *

# <font color='blue'> 0.0 Import & Translate Dataset

In [35]:
df=pd.read_csv('wr2.csv')

In [36]:
def splitt(str):
    return str.split('+')[-1]

In [37]:
df=pd.read_csv('wr2.csv')
df["OLD METRIC NAME"] = df["METRIC NAME"]
df["METRIC NAME"]=df["METRIC NAME"].apply(lambda x:splitt(x))
df.to_csv('NEW_RATE.csv')
df.head(5)

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,OLD METRIC NAME
0,2233010.0,Gross Profit,Danaher,2012,9414300000,US Securities & Exchange Comission+Gross Profit
1,2233013.0,Gross Profit,Danaher,2015,10762500000,US Securities & Exchange Comission+Gross Profit
2,2233016.0,Gross Profit,Danaher,2014,9892600000,US Securities & Exchange Comission+Gross Profit
3,2233001.0,Gross Profit,Danaher,2011,8176600000,US Securities & Exchange Comission+Gross Profit
4,2233004.0,Gross Profit,Danaher,2010,6404500000,US Securities & Exchange Comission+Gross Profit

In [38]:
#import goslate
#def translate_to_spanish(x):
#    return gs.translate(x,'de')
#df['SPANISH METRIC NAME']=df['METRIC NAME'].apply(lambda x: translate_to_spanish(x))

In [39]:
df1=df[['METRIC NAME']].drop_duplicates().reset_index(drop=True)
df1.to_excel('translate.xlsx')
df_spanish=pd.read_excel('translated.xlsx')
df_spanish.head()

,METRIC NAME,SPANISH METRIC NAME
0,Gross Profit,Beneficio bruto
1,Research and Development Expense,Gastos de investigación y desarrollo
2,Unrecognized Tax Benefits Reductions Resulting...,Reducciones de beneficios fiscales no reconoci...
3,Effective Income Tax Rate Continuing Operations,Operaciones continuas del tipo efectivo del im...
4,Cost of Goods and Services Sold,Costo de bienes y servicios vendidos

In [40]:
df_spanish = df.merge(df_spanish,on=['METRIC NAME'],how='left' )
df_spanish.to_csv('NEW RATE SPANISH.CSV')
df_spanish.head()

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,OLD METRIC NAME,SPANISH METRIC NAME
0,2233010.0,Gross Profit,Danaher,2012,9414300000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
1,2233013.0,Gross Profit,Danaher,2015,10762500000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
2,2233016.0,Gross Profit,Danaher,2014,9892600000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
3,2233001.0,Gross Profit,Danaher,2011,8176600000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
4,2233004.0,Gross Profit,Danaher,2010,6404500000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto

In [41]:
df = df_spanish.drop(['OLD METRIC NAME','METRIC NAME'], axis=1)
df.rename(columns={'SPANISH METRIC NAME':'METRIC NAME'}, inplace=True)
df.head()

   ANSWER ID COMPANY NAME  YEAR        VALUE      METRIC NAME
0  2233010.0      Danaher  2012   9414300000  Beneficio bruto
1  2233013.0      Danaher  2015  10762500000  Beneficio bruto
2  2233016.0      Danaher  2014   9892600000  Beneficio bruto
3  2233001.0      Danaher  2011   8176600000  Beneficio bruto
4  2233004.0      Danaher  2010   6404500000  Beneficio bruto

# <font color='blue'>1.0 Test (only sending 5 questions out)

### this is the Spanish version survey: 
remember to use missing_value_<font color ='red'>es

In [42]:
table0 = missing_value_es(df,2017,'Telenor')
testing_dataset = table0[0]
questions_list = table0[1]
recipients_df = table0[2]
testing_dataset.head()

,ANSWER ID,COMPANY NAME,YEAR,VALUE,METRIC NAME,SURVEY QUESTIONS,QUESTIONID
0,3579791.0,Telenor,2017,Unknown,Consumo de combustible procedente de fuentes r...,¿Tienes respuesta a Consumo de combustible pro...,201723200233
1,3579834.0,Telenor,2017,Unknown,Consumo de combustible procedente de fuentes n...,¿Tienes respuesta a Consumo de combustible pro...,201723200232
2,NaN,Telenor,2017,Unknown,Porcentaje de combustible renovable utilizado,¿Tienes respuesta a Porcentaje de combustible ...,201723200814
3,NaN,Telenor,2017,Unknown,Energías Renovables (%),¿Tienes respuesta a Energías Renovables (%)? E...,201723200423
4,NaN,Telenor,2017,Unknown,energía proviene de fuentes renovables,¿Tienes respuesta a energía proviene de fuente...,201723201093

In [43]:
len(questions_list)

27

## test with 5 questions
* Create a new testing recipients_df that contains my own email

In [44]:
testing_question = questions_list[0:5]

## Create a testing recipients_df using personal emails

In [45]:
recipients_df

    COMPANY NAME  COMPANY ID              email first_name last_name
753      Danaher         753  danaher@gmail.com

In [46]:
data = [['xiaojunyao1199@outlook.com','oh','yes']]
t_recipients_df = pd.DataFrame(data=data, columns=['email','first_name','last_name'])

In [47]:
t_recipients_df

                        email first_name last_name
0  xiaojunyao1199@outlook.com         oh       yes

## Apply functions

In [48]:
testing_results=process('test_survey_spanish', testing_question, t_recipients_df)

survey id: 182831637
page id: 85298089
question id: 310454953
question id: 310454968
question id: 310454973
question id: 310454985
question id: 310454990
collector id: 240746878
message id: 63079333

In [49]:
result_answer=after_survey(testing_results)
result_answer

,"¿Tienes respuesta a Consumo de combustible procedente de fuentes renovables (G4-EN3-b)? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Consumo de combustible procedente de fuentes no renovables (G4-EN3-a)? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Porcentaje de combustible renovable utilizado? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Energías Renovables (%)? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.",collector_id,date_created,date_modified,email_address,first_name,id,ip_address,last_name,survey_id
oh_yes_response,oh,yes,spanish,ok,240746878,2019-07-10T20:49:40+00:00,2019-07-10T20:49:52+00:00,xiaojunyao1199@outlook.com,oh,10851687003,4.35.91.70,yes,182831637

In [53]:
result_table = result_table(testing_dataset, result_answer, testing_question)
result_table

,SURVEY QUESTIONS,COMPANY NAME,YEAR,QUESTIONID,oh_yes_response
0,¿Tienes respuesta a Consumo de combustible pro...,Telenor,2017,201723200232,yes
1,¿Tienes respuesta a Consumo de combustible pro...,Telenor,2017,201723200233,oh
2,¿Tienes respuesta a Energías Renovables (%)? E...,Telenor,2017,201723200423,ok
3,¿Tienes respuesta a Porcentaje de combustible ...,Telenor,2017,201723200814,spanish
4,¿Tienes respuesta a energía proviene de fuente...,Telenor,2017,201723201093,NaN