# Project: CRWD Survey Monkey (organized)
## Object: organizate work from Zhehui Yuan & Yihao
### Author: <font color ='blue'>Xiaojun Yao (Uie)

### <font color='red'> Main Change: 

Recode the after_survey fuction() and create a result_table() function.

# <font color='blue'> Import Packages

In [1]:
#import surveymonty
import requests
import json
import random
from itertools import product

import time
import datetime

import pandas as pd
import numpy as np

#### <font color='red'> most important packages <font color='black'>(includes all the functions): process_functions.py

In [2]:
from process_functions import *

# <font color='blue'> 0.0 Import & Translate Dataset

In [3]:
df=pd.read_csv('wr2.csv')

In [4]:
def splitt(str):
    return str.split('+')[-1]

In [5]:
df=pd.read_csv('wr2.csv')
df["METRIC NAME"]=df["METRIC NAME"].apply(lambda x:splitt(x))
df.to_csv('NEW_RATE.csv')
df.head(5)

   ANSWER ID   METRIC NAME COMPANY NAME  YEAR        VALUE
0  2233010.0  Gross Profit      Danaher  2012   9414300000
1  2233013.0  Gross Profit      Danaher  2015  10762500000
2  2233016.0  Gross Profit      Danaher  2014   9892600000
3  2233001.0  Gross Profit      Danaher  2011   8176600000
4  2233004.0  Gross Profit      Danaher  2010   6404500000

# <font color='blue'>1.0 Test (only sending 5 questions out)

### this is the english version survey: 
remember to use missing_value_<font color ='red'>en

In [6]:
table0 = missing_value_en(df,2017,'Telenor')
testing_dataset = table0[0]
questions_list = table0[1]
recipients_df = table0[2]
testing_dataset.head()

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,SURVEY QUESTIONS,QUESTIONID
0,3579791.0,Fuel consumption from renewable sources (G4-EN...,Telenor,2017,Unknown,Do you have answer to Fuel consumption from re...,201723200338
1,3579834.0,Fuel consumption from non-renewable sources (G...,Telenor,2017,Unknown,Do you have answer to Fuel consumption from no...,201723200337
2,NaN,Percentage renewable fuel used,Telenor,2017,Unknown,Do you have answer to Percentage renewable fue...,201723200671
3,NaN,Renewable Energy (%),Telenor,2017,Unknown,Do you have answer to Renewable Energy (%)? If...,201723200733
4,NaN,energy is from renewable sources,Telenor,2017,Unknown,Do you have answer to energy is from renewable...,201723201094

In [7]:
len(questions_list)

27

## test with 5 questions
* Create a new testing recipients_df that contains my own email

In [ ]:
testing_question = questions_list[0:5]

## Create a testing recipients_df using personal emails

In [8]:
recipients_df

                  email first_name last_name
2320  telenor@gmail.com

In [13]:
data = [['ohnoyeahjin1199@hotmail.com','X','Yao']]
t_recipients_df = pd.DataFrame(data=data, columns=['email','first_name','last_name'])

In [14]:
t_recipients_df

                         email first_name last_name
0  ohnoyeahjin1199@hotmail.com         oh        no

## Apply functions

In [16]:
testing_results=process('test_survey', testing_question, t_recipients_df)

survey id: 182831394
page id: 85297755
question id: 310454001
question id: 310454012
question id: 310454015
question id: 310454018
question id: 310454025
collector id: 240746638
message id: 63079306

In [17]:
result_answer=after_survey(testing_results)
result_answer

,"Do you have answer to Fuel consumption from renewable sources (G4-EN3-b)? If yes, please specify; if no,please leave the question blank","Do you have answer to Fuel consumption from non-renewable sources (G4-EN3-a)? If yes, please specify; if no,please leave the question blank","Do you have answer to Percentage renewable fuel used? If yes, please specify; if no,please leave the question blank",collector_id,date_created,date_modified,email_address,first_name,id,ip_address,last_name,survey_id
X_Yao_Response,oh,no,yes,240746638,2019-07-10T20:47:46+00:00,2019-07-10T20:48:00+00:00,ohnoyeahjin1199@hotmail.com,X,10851683122,4.35.91.70,Yao,182831394

In [18]:
result_table = result_table(testing_dataset, result_answer, testing_question)
result_table

,SURVEY QUESTIONS,COMPANY NAME,YEAR,QUESTIONID,X_Yao_Response
0,Do you have answer to Fuel consumption from no...,Telenor,2017,201723200337,no
1,Do you have answer to Fuel consumption from re...,Telenor,2017,201723200338,oh
2,Do you have answer to Percentage renewable fue...,Telenor,2017,201723200671,yes
3,Do you have answer to Renewable Energy (%)? If...,Telenor,2017,201723200733,NaN
4,Do you have answer to energy is from renewable...,Telenor,2017,201723201094,NaN